*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(57, 56, 56);
    color:hotpink;
}

header {
    margin: 20px;
    padding: 5px;
    text-align: center;
    font-size: larger;
}

header2 {

}

h2{
    font-size: medium;
    margin: 10px;
    padding: 10px;
    color: white;
}
h3{
    display: block;
    border: 2px solid white;
    height: 30px;
    width: 75%;
    margin: auto;
    padding: 2px;
    text-align: center;
    /* position: absolute; */
}

main{
    display: flex;
    flex-wrap: wrap;  
   
}

.box {
    display: block;
    border: 2px solid white; 
    margin: 20px;   
    height: 250px;
    width: 30%;
    border-style: dashed;

}














